
.zen-skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.zen-skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:15%;
	font-weight:bold;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.zen-skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px 0 10px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.zen-skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.zen-skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);}
	
/* --- Skill Count --*/
	
.skill-count-item,
.skill-circle-item {
	float: left;
	margin-left: 2%;
	text-align: center;
}

.skill-count-item0 {
	margin-left: 0;
}

.skill-count-items-1 {
	width: 100%;
	margin: 0;
}

.skill-count-items-2 {
	width: 48%;	
}

.skill-count-items-3 {
	width: 31% !important;	
}

.skill-count-items-4 {
	width: 23%;	
}

@media screen and (max-width:700px) {
	.skill-count-item,
	.skill-circle-item
	 {
		width: 100% !important;
		margin: 0;
	}
}


.circliful {
    position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    left: 0;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}