<?xml version="1.0" encoding="UTF-8"?>
<style>
  <name>Carousel</name>
  <author>Joomshaper</author>
  <description>Carousel Slider for Appico Template</description>
  <version>1.0</version>
  <files>
    <public>      
      <filename type="stylesheet">carousel/css/carousel.css</filename>
      <filename type="javascript">carousel/js/bootstrap-carousel.js</filename>
    </public>
    <admin>
    </admin>
  </files>
  <config>
   <fieldset name="Basic">
    <field name="list" type="list" default="1" label="Show Arrows" description="">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>	

    <field name="show_controllers" type="list" default="1" label="Show Controllers" description="">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>

    <field name="image_position" type="list" default="left" label="Image Position" description="">
      <option value="left">Left</option>
      <option value="right">Right</option>
    </field>

  </fieldset>
</config>  
</style>