<root>
  <params name="widgetsarrow" label="" hidetitle="1">
    <param name="widgetarrow" ajaxurl="slider/renderform" type="widgetpluginmatrix" label="Arrow" group="sswidgetarrow" method="arrow" file="config.xml" default="imageEmpty"/>
    <param type="group" label="Shows on">
      <param name="widget-arrow-display-hover" type="onoff" label="Hover" default="0"/></param>
  </params>
  <params name="widget-arrow-placeholder" label="Slider Type placeholder" id="nextend-widgetarrow-panel" type="placeholder"></params>
</root>